# Daily Stock Prices
##### Purpose: Pull daily stock data using LSEG API for specified rics 
##### Input: List if RICs 
##### Output: Daily stock data from start to end date 
##### For information on the LSEG Eikon API: 
#####         --General: https://developers.lseg.com/en/api-catalog/eikon/eikon-data-api
#####         --API Key: https://developers.lseg.com/en/article-catalog/article/consume-real-time-data-with-refinitiv-data-platform
##### Contact: brds@hbs.edu

## Imports

In [1]:
## Import 
import eikon as ek # Eikon Python wrapper package
import pandas as pd 
import datetime 
import sys
import time
import logging
import IPython

ek.set_app_key('INSERT_APIKEY_HERE') #Set to your API Key

## Specify Rics

In [2]:
# Import Ric List
ric_list = pd.read_excel("Data/Rics_List.xlsx")


display(ric_list.head(10))

       RIC
0  POOL.OQ
1  CHRW.OQ
2    AJG.N
3    CNP.N
4   AMCR.N
5     WM.N
6     BA.N
7   FOX.OQ
8     WY.N
9    MCD.N

## Parameters

In [3]:
## Set Dates
set_start_date = '2024-07-01'
set_end_date = '2024-08-01'

## Chunk Size (set how many RICs to pull at once, based off how many days being pulled -- this helps respect API limits)
chunk_size = 25  # Set Chunk size to respect API limits

## Pull down data

In [4]:
# Set Loop variables
firstloop = 1
last = len(ric_list)

# Loop thru all rics
for start in range(0, last, chunk_size):
    end = start + chunk_size

    try: 
        # Pull Data 
        data_chunk = ek.get_timeseries(ric_list['RIC'].iloc[start:end].tolist(), 
                                start_date = set_start_date,
                                end_date = set_end_date,
                                fields=['CLOSE'], 
                                interval='daily')
        
        # Transpose Data
        data_chunk_t = data_chunk.transpose()
        
        # Append Data just pulled to data pulled in previous loosps
        if firstloop == 1:
            data_t = data_chunk_t
            firstloop = 0 
        else:
            data_t = pd.concat([data_t, data_chunk_t])
        
        print("Pulled: ", end)
        
        
    except: 
            print("Error with rows: ", start, " to ", end)
    time.sleep(15) # Respect API limits

Pulled:  25
Pulled:  50
Pulled:  75
Pulled:  100
Pulled:  125
Pulled:  150
Pulled:  175
Pulled:  200
Pulled:  225
Pulled:  250
Pulled:  275
Pulled:  300
Pulled:  325
Pulled:  350
Pulled:  375
Pulled:  400
Pulled:  425
Pulled:  450
Pulled:  475
Pulled:  500
Pulled:  525

## View and Export Data

In [5]:
data_final = data_t.transpose()
display(data_final.head(10))

CLOSE,POOL.OQ,CHRW.OQ,AJG.N,CNP.N,AMCR.N,WM.N,BA.N,FOX.OQ,WY.N,MCD.N,...,EQT.N,NRG.N,MKTX.OQ,LMT.N,DLR.N,PSX.N,SCHW.N,SNPS.OQ,J.N,AVY.N
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-01,307.69,86.81,259.22,30.55,9.6,209.36,186.7,31.8,27.56,249.99,...,36.69,77.85,193.39,466.44,152.13,140.93,73.42,601.75,138.3,213.36
2024-07-02,301.4,86.15,262.0,30.46,9.58,209.47,185.42,32.3,27.48,247.79,...,36.96,77.89,193.8,465.7,152.91,140.47,74.15,609.66,137.77,215.12
2024-07-03,301.09,87.51,262.63,30.33,9.62,210.2,184.31,32.44,27.05,250.0,...,37.04,79.42,201.01,466.03,151.71,140.37,74.13,606.99,138.49,216.83
2024-07-05,299.78,86.49,264.67,30.49,9.5,210.33,184.83,32.16,27.45,251.09,...,36.32,77.16,204.65,462.16,151.44,138.4,73.2,621.3,136.74,216.04
2024-07-08,304.48,86.62,264.54,30.32,9.63,210.62,185.84,32.14,27.59,247.85,...,36.38,78.57,204.4,461.76,153.66,135.95,73.24,615.49,137.66,215.1
2024-07-09,296.17,86.55,263.93,29.63,9.56,210.02,183.24,32.76,27.57,245.82,...,36.54,79.26,204.4,460.3,153.3,132.81,74.53,607.94,136.44,213.0
2024-07-10,298.87,85.44,267.8,29.59,9.75,211.18,183.73,32.93,27.58,250.49,...,36.64,79.16,206.94,461.01,155.63,133.97,74.63,619.56,138.57,216.52
2024-07-11,317.36,86.37,270.12,29.68,9.81,211.77,183.91,33.25,28.96,254.8,...,37.19,79.63,213.93,460.38,157.73,136.92,76.08,608.74,141.11,217.84
2024-07-12,328.4,86.76,271.05,30.3,9.91,213.75,182.31,33.35,29.28,253.9,...,37.21,79.93,212.85,463.73,158.35,138.64,75.38,614.05,143.93,220.68
2024-07-15,327.04,87.03,270.46,28.28,9.84,216.0,179.11,33.55,29.04,251.53,...,36.83,75.39,219.64,463.88,159.5,140.07,75.07,616.01,144.7,218.85

In [6]:
data_final.to_excel('Data/Output_DailyStockPrices.xlsx')